body{
    background-color: #303030;
}

.acceuil{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.about{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

ul{
    display: inline-block;
}

li{
    color: #fff;
    list-style-type: none;
    padding-top: 20px;
}

li:hover a{
    color: #fff;
    background-color: #444343;
    padding: 5px;
    transition: 0.3s;
}